/* Общие стили */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

/* Стили для index.html */
.logo-text {
  display: block;
  margin: 0 0 50px 0;
}

.middle-section {
  margin-bottom: 50px;
}

.middle-section-anchor {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.middle-section-anchor:not(:last-child) {
  margin-right: 25px;
}

.bottom-section-anchor {
  padding-left: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  /* Задать фоновую иконку для скачивания */
  background-image: url(../img/download.png);
  background-position: left center;
  background-repeat: no-repeat;
}


/* Стили для article.html */
/* Обёртка для содержимого тега body */
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

/* Стили главного заголовка */
.main-header {
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}

/* Стили параграфов */
.text {
  margin: 0 0 40px 0;
  width: 872px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

/* Дополнительные стили для текста синего цвета */
.blue-text {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100%;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}

/* Стили серых блоков */
.grey-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  background-position: right;
}
.grey-box:not(:last-child) {
  margin: 0 0 40px 0;
}

/* Стили для параграфов внутри серых блоков */
.grey-box-text {
  margin: 0 0 10px 0;
  width: 692px;
}

/* Фоновое изображение для серого блока с Содержанием */
.content-box-image {
  background-image: url(../img/decorate-1.png);
}

/* Фоновое изображение для серого блока с Итогом */
.total-box-image {
  background-image: url(../img/decorate-2.png);
}

/* Стили заголовков 2-го уровня */
.second-level-heading {
  margin: 0 0 10px 0;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

/* Стили заголовков 3-го уровня */
.third-level-heading {
  margin: 0 0 10px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}

/* Стили для списка */
.list {
  margin: 0;
  padding: 0 0 0 15px;
}

/* Стили для маркеров списка */
.list-item::marker {
  color: #3f2aff;
}

/* Стили для элементов списка */
.list-item:not(:last-child) {
  margin: 0 0 20px 0;
}

/* Стили для ссылок в списке */
.list-anchor {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
}

/* Стили изображений страницы (не находящихся внутри тега figure) */
.image {
  margin: 0 0 40px 0;
}

/* Стили для элементов тега figure */
.thumbnail {
  display: inline-block;
  margin: 0 0 40px 0;
  width: 872px;
  font-size: 0;
}

/* Стили для описания к изображениям */
.thumbnail > figcaption {
  border: 1px solid #b6b6b6;
  border-top: 0;
  padding: 19px 0;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}