/* Общие стили */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #070217;
}

/* Стили для index.html */
.logo-text {
  display: block;
  margin: 0 0 50px 0;
}

.middle-section {
  margin-bottom: 50px;
}

.middle-section-anchor {
  display: inline-block;
  padding: 24px 49px;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}

.middle-section-anchor:not(:last-child) {
  margin-right: 25px;
}

.bottom-section-anchor {
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
  background-image: url();
}


/* Стили для article.html */
/* Обёртка для содержимого тега body */
.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
}

/* Стили главного заголовка */
.main-header {
  margin: 0 0 40px 0;
}

/* Стили параграфов */
.text {
  margin: 0 0 40px 0;
  width: 872px;
}

/* Стили серых блоков */
.grey-box {
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
}
.grey-box:not(:last-child) {
  margin: 0 0 40px 0;
}

/* Стили для параграфов внутри серых блоков */
.grey-box-text {
  margin: 0 0 10px 0;
  width: 692px;
}

/* Стили заголовков 2-го уровня */
.second-level-heading {
  margin: 0 0 10px 0;
}

/* Стили заголовков 3-го уровня */
.third-level-heading {
  margin: 0 0 10px 0;
}

/* Стили для списка */
.list {
  margin: 0;
  padding: 0 0 0 15px;
}

/* Стили для элементов списка */
.list-item:not(:last-child) {
  margin: 0 0 20px 0;
}

/* Стили изображений страницы (не находящихся внутри тега figure) */
.image {
  margin: 0 0 40px 0;
}

/* Стили для элементов тега figure */
.thumbnail {
  display: inline-block;
  margin: 0 0 40px 0;
  width: 872;
}